.profile-container {
    min-height: 500px;
}

.user-info {
    margin-bottom: 30px;
}

.user-info-edit {
    font-size: 16px;
    padding: 0 10px;
    color: #909090!important;
    cursor: pointer;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.user-info-edit:hover {
    color: #26aae1 !important;
}

.user-info-edit > i {
    margin-right: 0px !important;
}

.userinfo-edit-modal .ui.form .field>label {
    font-size: 1.2rem!important;
}

@media (min-width: 992px)
.ui.statistics {
    width: 70%;
}

.ui.statistics {
    width: 80%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 1em 0 -2em;
}

.user-book-tab .ui.statistic:first-child {
    margin: 0;
}

.user-book-tab .ui.statistic {
    border-bottom: 3px solid transparent;
    height: 50px;
    cursor: pointer;
}

.user-book-tab .ui.statistic.active {
    border-bottom: 3px solid #26aae1;
    -webkit-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.user-book-tab .ui.statistic.active>.label, .user-book-tab .ui.statistic.active>.value {
    color: #26aae1;
    -webkit-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.ui.statistics .statistic>.value, .user-book-tab .ui.statistic>.value {
    font-size: 1.6rem!important;
    font-weight: 700;
}

.ui.statistics .statistic>.label, .user-book-tab .ui.statistic>.label {
    font-size: .9rem!important;
}

.ui.divider {
    position: relative;
    top: 12px;
}

.add-new-wrapper {
    float: left;
}

.add-new-wrapper .search-root {
    margin: 25px 0 10px;
}